<div class="container">
  <input class="custom-input" type="text" name="filter" (click)="toggleDropdown()" placeholder="Your transport" [(ngModel)]="listFilter" (ngModelChange)="valueChange($event)">
  <i *ngIf="!listFilter" (click)="toggleDropdown()" class="la la-angle-down caret"></i>
  <i *ngIf="listFilter" (click)="clear()" class="la la-remove caret"></i>
  <div *ngIf="showDropdown" class='state-container-dropdown'>
    <div class="item" (click)="select(v)" *ngFor="let v of filteredValues;trackBy: trackByFn">
      {{v.label}}
      <i class="icon" [ngClass]="v.icon"></i>
    </div>
  </div>
</div>