.custom-input {
  width: -moz-available;
  width: -webkit-fill-available;
  height: 30px;
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px;
  border:none;
  padding: 0px 15px;
  box-shadow: 2px 0px 12px 12px rgba(211, 211, 211, 0.2)
}

.state-container-dropdown {
  position: absolute;
  z-index: 1;
  width: inherit;
  max-height: 262px;
  background: #FAFAFA;
  overflow-y: auto;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  padding: 10px 0px;
}

.item {
  padding: 10px 15px 10px 15px;
  font-size: 13px;
}

.item:hover {
  background-color: gray;
  padding: 10px 15px 10px 15px;
}

.icon {
  position: absolute;
  right: 15px;
  font-size: 22px;
}

.caret {
  bottom: 25px;
  position: relative;
  left: 225px;
  font-size: 18px;
}

.caret:hover {
  background-color: gray;
}

.container {
  width: 262px;
}
